*{
margin:0;
padding:0;
}
body{
  animation-name:back;
  animation-duration:5s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  background-image:url("img/logo/logo.png");
  background-color:red;
}
@keyframes back{
  0% {background-image:url("img/logo/logo.png");}
  50% {background-image:url("img/logo/test.png");}
  100% {background-image:url("img/logo/back.jpeg");}
}
.header{
position:fixed;
background-color:red;
width:100%;
height:40px;
}
.sidenav li{
display:inline;
}
.sidenav a{
text-decoration:none;
padding:10px;
margin:4px;
color:#fff;
cursor:pointer;
}
.sidenav a:hover{
  background-color:#fff;
  color:#111;
}
.form{
display:flex;
float:left;
height:30px;
margin-top:5px;
}
input[type=text]{
  border-radius:10px 0 0 10px;
  border:none;
}
.search{
  border-radius:0 10px 10px 0;
  border:none;
  background-color:#fff;
}
ul{
display:inline;
float:left;
margin-top:10px;
}
.logo{
float:right;
position:relative;
margin-top:px;
padding:0;
background-color:#fff;
border-radius:20px;
}
.open{
display:none;
}
.cl-btn{
display:none;
}
main{
  padding-top:40px;
}
.article1{
  margin-top:;
}
article{
  width:100%;
  height:auto;
  background-color:;
  margin-top:px;
  padding-top:5px;
  text-align: center;
}
article div{
  width:16%;
  height:200px;
  background-color:red;
  padding:5px;
  margin:5px;
  display:inline-block;
}
.pages{
  text-align: center;
}
.footer{
  width:100%;
  height:auto;
  background-color:black;
  margin-bottom:;
}
.footer .copy{
  color:white;
  text-align: center;
}
.item a{
text-decoration:none;
cursor:pointer;
color:#fff;
}
.item a img{
  max-width:100%;
  max-height:70%;
  border-radius:5px;
}
.name{
  display:block;
}
.item table{
  width:90%;
  height:auto;
}
article button{
  border-radius:5px;
  margin:5px;
  border:none;
}
.footer a img{
  max-width:5%;
  max-height:auto;
}
.contact{
 margin-left:45%;
}
.contact a img{
  background-color:;
}
article button{
  background-color:#fff;
}
@media only screen and (max-width:500px){
.sidenav li{
display:block;
margin-top:10px;
}
.sidenav{
position:fixed;
background-color:black;
width:0;
overflow-x:hidden;
z-index:1;
transition:0.5s;
float:left;
height:auto;
}
.open{
position:absolute;
font-size:30px;
cursor:pointer
float:left;
display:inline;
}
.cl-btn{
  position:absolute;
  top:0;
  right:25px;
  display:inline;
}
.sidenav a span{
  margin-left:10px;
}
article div{
  display: block;
  width:95%;
}
.item a img{
  float:left;
  margin-top:30px;
}
.item button{
  margin-top: 50px;
  
}
.item a span{
  margin-top:50px;
}
.footer a img{
  max-width:10%;
  max-height:auto;
}
}